.content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    height: 80vh;  
}

.content_relative_wrapper{
    position: relative;
    flex-basis: 55%;
    height: 100%;
}

.content_details{
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    transform-origin: 100%;
    width: 100%;
    transition: all .2s linear;
}

.projects_work_container{
    display: flex;
    gap: 4rem;
    flex-basis: 35%
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .content_container{
        flex-direction: column;
        gap: 8rem;
        padding: 4rem 4rem;
        height: 100%;  
    }

    .content_relative_wrapper {
        flex-basis: 100%; 
        position: static; 
    }

    .content_details {
        position: static; 
        top: auto;
        left: auto; 
        transform: none; 
        width: 100%; 
    }

    .projects_work_container {
        width: 100%;
        flex-basis: 100%; 
    }
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .content_container{
        gap: 4rem;
        padding: 4rem 0;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .content_container{
       
    }
}