.content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    flex: 1; /* vs. tech stack container */
}

.content_relative_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-basis: 60%;
}

.content_details{
    transform-origin: 50%; /* animation from the center */
    animation: fadeInFromCenter 0.4s ease-in-out;
}

@keyframes fadeInFromCenter {
    from { 
        opacity: 0;
        transform: /* translateY(-50%) */ scaleX(0);
    }
    to { 
        opacity: 1;
        transform: /* translateY(-50%) */ scaleX(1);
     }
}

.projects_work_container{
    display: flex;
    gap: 5rem;
    /* justify-content: space-evenly; */
    flex-basis: 40%
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .content_container{
        flex-direction: column;
        padding: 4rem 0;
    }

    .projects_work_container{
        align-self: flex-start;
    }

}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .content_container{
        gap: 4rem;
        padding: 4rem 0;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .content_container{
        margin-right: 2.5rem;
    }
}