.about{
    display: flex;  
    gap: 2rem;
    margin-left: 2rem;
    position: relative;
}

.img_container {
    min-width: 15.5rem;
    flex: 0.1;
}

.profile_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    border: 0.2rem solid white;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    flex: 1;
}

.text_container_mobile_sub_380px{
    display: none; /* only appears on tiny mobile phones (iphone SE, galaxy fold, etc) */
}


.quote {
    padding: 0;
    margin: 1rem;
}
.button_container{
    display: flex;
    gap: 2rem;
}

.button {
    position: relative; 
    display: inline-block;
    color: var(--font-primary);
    font-size: clamp(1.2rem, 2vw, 1.6rem); /* match p tag from globals.css*/
}

.button::after{
    content: "";
    height: 0.2rem;
    width: 100%;
    background: linear-gradient(270deg,var(--accent-primary)0%, var(--accent-secondary)100%);
    opacity: 1;
    transition: all .3s ease-in-out;
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
}

.button:hover::after {
    background: linear-gradient(90deg, var(--accent-primary) 0%, var(--accent-secondary) 100%); 
}


 /* Tablets (portrait) */
@media (max-width: 950px) { 
    .content_wrapper{
        gap: 1.25rem;
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .img_container {

        flex: 0.4;

    }
    
    .text_container {
        flex: 1;
    }
    
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .about{
        flex-direction: column; 
        gap: 1rem;
        margin-left: 0;
        position: relative;
    }

    .profile_pic, .img_container{
        display: none;
    }

    .text_container {
        gap: 1rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  

    .text_container {
        display: none;

    }
    
    .text_container_mobile_sub_380px{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex: 1;
    }
}

