.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 10rem;
  height: calc(100vh - 10rem);
}


/* Tablets (portrait) */
@media (max-width: 950px) { 
  .main {
    flex-direction: column-reverse;
    padding: 2rem 2.5rem;
  }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
  .main {
    
  }
}