.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    width: 100%;
}

.jb_svg{
    cursor: pointer;
    padding-bottom: 1rem;
    width: 4rem;
    height: 4rem;
    stroke: var(--accent-primary);
    stroke-width: 1;
    stroke-dasharray: 751;
    stroke-dashoffset: 200;
    animation: 5s fillSvg linear, flipfromCenter 0.5s ease-in-out forwards;
    transition: all 0.3s ease; 
}

@keyframes flipfromCenter {
  from { 
      transform: rotateY(0deg); 
  }
  to { 
      transform: rotateY(360deg); 
  }
}


@keyframes fillSvg{
   0%{
       stroke-dashoffset: 751;
   }
   100%{
       stroke-dashoffset: 0;
   }
}

.nav ul {
    display: flex;
    gap: 4rem;
}

.nav_link_icon {
    font-size: clamp(1.8rem, 2vw, 3rem);
    color: lightgrey;
    transition: var(--hover-transition);
}

.nav_link_icon:hover, .logo:hover {
    transform: scale(1.1);
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .header {
      padding: 2rem 2.5rem;
    }
  }
  
  /* Mobile Devices up to 480px */
  @media (max-width: 480px) {  
    .header {
      padding: 1rem 2rem;
    }
  }

  /* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
  .header {
    margin-bottom: 2.5rem;
  }
}