.embla{
    overflow: hidden;
    padding-bottom: 1rem;
}

.embla_container{
    display: flex;
    gap: 1.5rem;
}

.dots_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.dot {
    cursor: pointer;
    background-color: var(--default-color);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: var(--hover-transition);
}

.dot:hover {
    background: linear-gradient(270deg, var(--accent-primary) 0%, var(--accent-secondary) 100%);
}

.active{
    transform: scale(1.25); 
    background: linear-gradient(270deg, var(--accent-primary) 0%, var(--accent-secondary) 100%);
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .dots_container {
        margin-top: 4rem;
    }

    .dot {
        width: 0.75rem;
        height: 0.75rem;
    }
    
}
