.tech_stack {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    filter: grayscale(100%);
    width: auto;
    height: 2rem;
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.active {
    filter: brightness(1.2);
    transform: scale(2); 
}
