.tech_stack {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0; /* vs. content container */
}

.icon {
    filter: grayscale(100%);
    height: clamp(1.2rem, 2vw, 3rem);
    width: clamp(1.2rem, 2vw, 3rem);
    transition: transform 0.3s ease, filter 0.3s ease; 
}

.active {
    filter: brightness(1.2);
    transform: scale(2); 
}

/* Tablets (portrait) */
@media (max-width: 950px){
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  

}