.tech_stack {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon {
    filter: grayscale(100%);
    width: auto;
    height: 2rem;
}

.active {
    filter: none; /* This will override other filters when active */
    width: auto;
    height: 3rem;
}
