.content_card{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
    position: relative;
}

.content_wrapper::before {
    content: " ";
    width: 0.2rem;
    background: linear-gradient(0deg,var(--accent-primary)0%,var(--accent-secondary)100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2rem;
}

.links_container{
    display: flex;
    gap: 2rem;
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .content_wrapper{
        margin-left: 0;
        padding-right: 1rem;
    }

    .content_wrapper::before {

        left: 100%;
    }
}